{% extends 'pages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Settings{% endblock %}
{% block cssjs %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bulma-checkradio.min.css' %}">
    <link rel="stylesheet" href="{% static 'bulma-divider.min.css' %}">
{% endblock %}
<!-- This is the content block -->
{% block content %}
    <h1 class="title">Settings</h1>
    {% comment %} <p class="subtitle">Settings</p> {% endcomment %}
    <section>
        <form class="form-horizontal" method="post" id="{{ form.helper.form_id }}">
            {% crispy form %}
        </form>
    </section>
{% endblock %}
