{% extends 'pages/base.html' %}
{% load unicorn %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block cssjs %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bulma-checkradio.min.css' %}">
    <link rel="stylesheet" href="{% static 'bulma-divider.min.css' %}">
{% endblock %}
<!-- This is the content block -->
{% block content %}
    <h1 class="title">Settings</h1>
    {% comment %} <p class="subtitle">Settings</p> {% endcomment %}
    <section>
        {% unicorn 'config-form' %}
    </section>
{% endblock %}
